body { 
    padding: 0px;
    margin: 0px;
}

* {
    padding: 0px;
    margin: 0px;
}

.gridContainer{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
}

.header {
    display: grid;
    position: relative;
    box-shadow: 0px 2px 5px lightslategray;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 15px;
    padding: 20px;
    grid-column: 2 / 3;
    background-color: #fafafa         
}

.searchField {
    display: grid;
    padding-left: 25px;
    align-items: center;
    grid-template-columns: 1fr 12fr;
}

#searchBar  {
    box-sizing: border-box;
    background-color: lightgray;
    border: none;

    border-radius: 12px;
    max-width: 600px;
    height: 30px;
}

.searchIcon {
    height: 25px;
    width: 25px;
    background-image: url("../Admin-Dashboard/images/magnify.svg");
}


.profileContainer {
    display: flex;
    padding-left: 60px;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.resize {
    border-radius: 50%;
    background-color: #38bdf8;
}

.profileContainer, .resize { 
    max-height: 50px;
}

.profileContainer, .resize1 {
    max-height: 25px;
    min-height: 25px;
}

.buttonContainer{
    display: flex;
    gap: 20px;
}

.buttonContainer button {
    background: #38bdf8;
    height: 35px;
    width: 100px;
    border-radius: 25px;
    color: white;
    border: none;
    font-weight: bold;
    align-self: center;

}

.welcomeSection {
    display: flex;
    gap: 15px;
    align-items: center;
    padding-left: 25px;

}


.profilePicTwo {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #38bdf8;
    background-image: url("../Admin-Dashboard/images/Sprite-0001.png");  
    background-size: cover; 
}

.sidebar {
    display: grid;
    color: white;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    grid-gap: 30px;
    padding: 15px 20px 20px 20px;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #38bdf8;
}

.sidebar img {
    height: 2rem;
    padding-right: 10px;
    cursor: pointer;
    filter: invert(1);
}

.icon div {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    
}

.mainLinks, .secondLinks {
    list-style: none;
    font-size: 17px;
    font-weight: 800;
}

li {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}


main {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    gap: 25px;
    background-color: #cbd5e1;
    max-height: 100%;
    padding: 40px 25px;
}



.projectCard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-template-rows: auto 1fr 1fr 1fr;
    gap: 15px;
    

}

.projectCard h3 {
    grid-column: 1 / -1;
}

.title {
    font-weight: 700;
}

.card {
    display: grid;
    padding: 2em;
    grid-template-rows: 30px 1fr auto;
    background-color: #fafafa;
    border-left: 10px solid #495057;
    border-radius: 10px;
    box-shadow: 0px 2px 5px lightslategray;

}

.imgBox {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

.items {
    display: flex;
    gap: 10px;
    grid-column: 3;
    height: 25px;
    width: 25px;
}

.sideBox {
    display: grid;
    row-gap: 15px; 
}

.Announcements {
    display: flex;
    
    grid-column: 3/3;
    gap: 15px;
    flex-direction: column;
}

.boldLetter{
    font-weight: 700;
    padding-bottom: 10px;
}

.words {
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}

.AnnouncementsContainer {
    display: grid;
    box-shadow: 0px 2px 5px lightslategray;

    padding: 25px;
    border-radius: 15px;
    background-color: white;
}

.AnnouncementCards {
    padding: 10px;
}

.trending {
    display: grid;
    row-gap: 10px;
    justify-content: center;
    grid-column: 3;
}

.trendingContainer {
    display: grid;
    box-shadow: 0px 2px 5px lightslategray;

    padding: 25px;
    border-radius: 15px;
    background-color: white;
}

.trendingCards {
    display: grid;
    gap: 10px;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 80px 1fr;
}

.trendingCards img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}